/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* variable  */
:root {
    --bg-color: rgb(135, 181, 181);
    --bg-nav-color: rgb(74, 163, 163);
    --bg-textarea-color: rgb(192, 216, 216);
    --bg-markdown-section-color: rgb(192, 216, 216);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

.markdown-previewer-section {
    display: grid;
    grid-template-columns: 1fr 10% 30% 10% 1fr;
    grid-template-rows: none;
    width: 100%;
    height: 100vh;
}

/* editor section start */

.editor-section {
    display: block;
    width: 100%;
    height: 100%;
    grid-column: 3 / span 1;
}

.editor-nav {
    display: flex;
    align-items: center;
    background-color: var(--bg-nav-color);
    height: 2rem;
    width: 100%;
    font-family: 'Russo one', sans-serif;
    border: 1px solid black;
    border-radius: 0.3em 0.3em 0 0;
}

#editor {
    resize: vertical;
    background-color: var(--bg-textarea-color);
    border-radius: 0 0 0.3em 0.3em;
    min-height: 20vh;
    width: 100%;
}

/* editor section end */

/* previewer section start*/

#preview {
    display: block;
    width: 100%;
    grid-column: 2 / span 3;
}

.previewer-nav {
    display: flex;
    align-items: center;
    background-color: var(--bg-nav-color);
    height: 2rem;
    width: 100%;
    font-family: 'Russo one', sans-serif;
    border: 1px solid black;
    border-radius: 0.3em 0.3em 0 0;
}

.markdown-section {
    background-color: var(--bg-markdown-section-color);
    border: 1px solid black;
    border-radius: 0 0 0.3em 0.3em;
    min-height: 20vh;
    width: calc(100% - 4rem);
    padding: 0 2rem;
}